* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h3 {
    text-align: center;
    margin: 5% auto 0;
}

.game-window {
    display: grid;
    grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
    grid-gap: 2px;
    width: 50%;
    margin: 2% auto;
}

.cell-btn {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.game-btns {
    width: 50%;
    margin: 0 auto;
}

button {
    width: 21%;
    margin: 0 2%;
}
