* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
}

body {
    background: #001;
    color: #ffe;
    font-size: 1.6rem;
}

h3 {
    text-align: center;
    margin: 5% auto 0;
}

.game-container {
    max-width: 425px;
    margin: 0 auto;
}

.game-window {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
}

.cell-btn {
    width: 10px;
    height: 10px;
    border: 1px solid #555;
}

.coords {
    width: 100%;
    max-width: 425px;
    font-size: 1.2rem;
    margin: 0 auto 3%;
}

.game-btns {
    width: 100%;
    margin: 0 auto;
}

button {
    width: 21%;
    margin: 0 2%;
    cursor: pointer;
    outline: none;
    border-radius: 7px;
    padding: 1% 2%;
    border: none;
    background: #aaa;
    color: #000;
}

button:disabled {
    opacity: 0.5;
}

.speed-ctrl {
    width: 100%;
    margin: 3% auto;
    border-radius: 7px;
    background: #aaa;
    color: #000;
}

.speed-ctrl label {
    display: block;
    text-align: center;
}

.speed-ctrl input {
    display: block;
    width: 75%;
    height: 5px;
    margin: 2% auto;
    border-radius: 5px;
    cursor: pointer;
}

.game-rules {
    width: 50%;
    max-width: 425px;
    margin: 3% auto 8%;
}
